<!DOCTYPE html>
<html>
  <head>
    <title>RecipeDb</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <%= link_to "Recipe App", root_path, class: 'navbar-brand' %>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav navbar-right">
     <li><%= link_to "Home", root_path %></li>
     <li><%= link_to "Create New Recipe", new_recipe_path %></li>
     <li><%= link_to "About", pages_about_path %></li>
     <li><%= link_to "Privacy", pages_privacy_path %></li>
    </ul>
  </div>
</nav>
  <body>
    <%= yield %>
  </body>
</html>
